*{
    margin: 0;
    padding: 0;

}
li{
    list-style: none;
}
body{
    width: 24rem;
    // width: 1920px;
    transform-origin: top center;
    // transform: scale(0.98,0.98);
}
html{
    overflow-x: hidden; 
    // background-color: rgba(1, 10, 56, 1);
    background: url(../img/bg/bg.jpg) no-repeat center center;
}
/* 声明字体*/
@font-face {
    font-family: electronicFont;
    src: url(../font/DS-DIGIT.TTF);
  }
// 这些都是header部分
header{
    position: relative;
    width: 24rem;
    height: 0.975rem;
    color: #ffffff;
    background: url('../img/header/title.png') no-repeat center center;
    background-size: 100% 120%;
    h1{
        text-align: center;
        height: 0.975rem;
        line-height: 0.8125rem;
        font-size: 0.5rem;
    }
    &::after{
        content: '疫情数据展示';
        position: absolute;
        top: 0.35rem;
        left: 0.675rem;

    }
    .showTime{
        position: absolute;
        top: 0.375rem;
        right: 0.3125rem;
        font-size: 0.275rem;
        color: #fff;
    }
}
// 左右两边的两个盒子
.mainBox{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    // background-color: black;
    // 这个才是合理的高度
    // height: 12.5rem;
    // height: 12.5rem;
    // background: url(../img/bg/京东背景.png) no-repeat center center;
    // background: url(../img/bg/bg.jpg) no-repeat center center;
    padding: 0.4375rem 0.6875rem;

    .leftBox,
    .rightBox{
        flex: 3;
        // background-color: pink;
        h2{
            // box-sizing: border-box;
            position: relative;
            width: 100%;
            height: 0.45rem;
            padding-left: 0.275rem;
            height: 0.4375rem;
            line-height: 0.4375rem;
            font-size: 0.225rem;
            font-weight: 700;
            color: #fff;
            background: url(../img/title_h2/矩形备份18.png) no-repeat top left;
            &::after{
                content: "";
                position: absolute;
                top: 0.05rem;
                left: 0.025rem;
                display: block;
                width: 0.1875rem;
                height: 0.35rem;
                background: url(../img/title_h2/形状结合.png) no-repeat center center;
                background-size: 100%;
                // background-color: black;
            }
        }
        .chart_lt,
        .chart_rt{
            width: 100%;
            height: 3.3375rem;
            // background-color: orange;
        }
    }
    .middleBox{
        flex: 5;
        // background-color: skyblue;
        .on_head{
            width: 100%;
            height: 0.45rem;
        }
        .map{
            width: 100%;
            height: 100%;
        }
        .chart,
        .map1,
        .map2,
        .map3{
            width: 100%;
            height: 80%;
        }
        .chart{
            z-index: 5;
        }        
        .map1,
        .map2,
        .map3{
           position: absolute;
           top:  62%; 
           left: 50%;
           transform: translate(-50%, -50%);
           width: 7.375rem;
           height: 7.375rem;
           background: url(../img/map.png) no-repeat;
           background-size: 100% 100%;
           opacity: 0.3;
        }
        .map2{
            width: 8.375rem;
            height: 8.375rem;
            background: url(../img/lbx.png);
           background-size: 100% 100%;

            opacity: 0.6;
            animation: rotate 15s linear infinite;
            z-index: 2;
        }
        .map3{
            width: 7.95rem;
            height: 7.95rem;
            background: url(../img/jt.png);
           background-size: 100% 100%;

            animation:  rotate1 10s linear infinite;
        }
        @keyframes rotate {
            from{
                transform: translate(-50%, -50%) rotate(0deg);
            }
            to {
                transform: translate(-50%, -50%) rotate(360deg);
              }
        }
        @keyframes rotate1 {
            from {
              transform: translate(-50%, -50%) rotate(0deg);
            }
            to {
              transform: translate(-50%, -50%) rotate(-360deg);
            }
          }
    }
    .rightBox{
        flex: 3;
        // background-color: pink;
    }

}

// 中间的部分 包括数字显示部分
.on{
    background: rgba(101, 132, 226, 0.1);
    padding: 0.1875rem;

    .no-hd{
        position: relative;
        border: 1px solid rgba(25, 186, 139, 0.4);
        // margin-top: 50px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 10px;
            border-top: 2px solid #02a6b5;
            border-left: 2px solid #02a6b5;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30px;
            height: 10px;
            border-bottom: 2px solid #02a6b5;
            border-right: 2px solid #02a6b5;
        }
        ul{
            display: flex;
            li{
                flex: 1;
                line-height: 1rem;
                font-size: 0.875rem;
                color: #ffeb7b;
                text-align: center;
                font-family: 'electronicFont';
                &::after{
                    content: '';
                    position: absolute;
                    top: 25%;
                    right: 50%;
                    height: 50%;
                    width: 1px;
                    background: rgba(255, 255, 255, 0.4);
                }
            }
            
        }
    }
    .no-bd{
        ul{
            display: flex;
            li{
                flex: 1;
                text-align: center;
                color: rgba(255,255,255,0.7);
                font-size: 0.225rem;
                height: 0.45rem;
                line-height: 0.45rem;
                padding-top: 0.125rem;
            }
        }
    }
}

// 每个图表的背景图
.leftBox > div>div,
.rightBox > div>div{
position: relative;
border: 1px solid rgba(25, 186, 139, 0.4);
background: url(../img/line.png);
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 10px;
        height: 10px;
        border-top: 2px solid #02a6b5;
        border-left: 2px solid #02a6b5;
    }
    &::after{
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 10px;
        height: 10px;
        border-top: 2px solid #02a6b5;
        border-right: 2px solid #02a6b5;
    }
}
//设定每个图表都是相对坐标
.panel{
    position: relative;
}
.foot{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    // height: 50px;
    &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #02a6b5;
        border-left: 2px solid #02a6b5;
    }
    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #02a6b5;
        border-right: 2px solid #02a6b5;
      }
}