* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  width: 24rem;
  transform-origin: top center;
  overflow: hidden;
}
html {
  font-size: 18.75px;
  overflow-x: hidden;
  background: url(../img/bg/bg.jpg) no-repeat center center;
  background-image: 100% 100%;
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
header {
  position: relative;
  width: 24rem;
  height: 0.975rem;
  color: #ffffff;
  background: url('../img/header/title.png') no-repeat center center;
  background-size: 100% 120%;
}
header h1 {
  text-align: center;
  height: 0.975rem;
  line-height: 0.8125rem;
  font-size: 0.5rem;
}
header::after {
  content: '疫情数据展示';
  position: absolute;
  top: 0.25rem;
  left: 0.675rem;
}
header .showTime {
  position: absolute;
  top: 0.375rem;
  right: 0.3125rem;
  font-size: 0.275rem;
  color: #fff;
}
.mainBox {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 0.4375rem 0.6875rem;
}
.mainBox .leftBox,
.mainBox .rightBox {
  flex: 3;
}
.mainBox .leftBox h2,
.mainBox .rightBox h2 {
  position: relative;
  width: 100%;
  height: 0.45rem;
  padding-left: 0.275rem;
  height: 0.4375rem;
  line-height: 0.4375rem;
  font-size: 0.225rem;
  font-weight: 700;
  color: #fff;
  background: url(../img/title_h2/矩形备份18.png) no-repeat top left;
}
.mainBox .leftBox h2::after,
.mainBox .rightBox h2::after {
  content: "";
  position: absolute;
  top: 0.05rem;
  left: 0.025rem;
  display: block;
  width: 0.1875rem;
  height: 0.35rem;
  background: url(../img/title_h2/形状结合.png) no-repeat center center;
  background-size: 100%;
}
.mainBox .leftBox .chart_lt,
.mainBox .rightBox .chart_lt,
.mainBox .leftBox .chart_rt,
.mainBox .rightBox .chart_rt {
  width: 100%;
  height: 3.3375rem;
}
.mainBox .middleBox {
  flex: 5;
}
.mainBox .middleBox .on_head {
  width: 100%;
  height: 0.45rem;
}
.mainBox .middleBox .map {
  width: 100%;
  height: 100%;
}
.mainBox .middleBox .chart,
.mainBox .middleBox .map1,
.mainBox .middleBox .map2,
.mainBox .middleBox .map3 {
  width: 100%;
  height: 80%;
}
.mainBox .middleBox .chart {
  z-index: 5;
}
.mainBox .middleBox .map1,
.mainBox .middleBox .map2,
.mainBox .middleBox .map3 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.5rem;
  height: 6.5rem;
  background: url(../img/map.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0.3;
}
.mainBox .middleBox .map2 {
  width: 6.5rem;
  height: 6.5rem;
  background: url(../img/lbx.png);
  background-size: 100% 100%;
  opacity: 0.6;
  animation: rotate 15s linear infinite;
  z-index: 2;
}
.mainBox .middleBox .map3 {
  width: 7rem;
  height: 7rem;
  background: url(../img/jt.png);
  background-size: 100% 100%;
  animation: rotate1 10s linear infinite;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.mainBox .rightBox {
  flex: 3;
}
.on {
  background: rgba(101, 132, 226, 0.1);
  padding: 0.1875rem;
}
.on .no-hd {
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.4);
}
.on .no-hd::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.on .no-hd::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.on .no-hd ul {
  display: flex;
}
.on .no-hd ul li {
  flex: 1;
  line-height: 1rem;
  font-size: 0.875rem;
  color: #ffeb7b;
  text-align: center;
  font-family: 'electronicFont';
}
.on .no-hd ul li::after {
  content: '';
  position: absolute;
  top: 25%;
  right: 50%;
  height: 50%;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
}
.on .no-bd ul {
  display: flex;
}
.on .no-bd ul li {
  flex: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.225rem;
  height: 0.45rem;
  line-height: 0.45rem;
  padding-top: 0.125rem;
}
.leftBox > div > div,
.rightBox > div > div {
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.4);
  background: url(../img/line.png);
}
.leftBox > div > div::before,
.rightBox > div > div::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.leftBox > div > div::after,
.rightBox > div > div::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.panel {
  position: relative;
}
.foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.foot::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.foot::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
